.Button {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 1rem;
	padding: auto;
	color: inherit;
	text-align: center;
	outline: none;

	transition-property: all;
	transition-duration: 1s;

	cursor: pointer;
	font: inherit;

	&:hover {
		background-color: white;
		// color: #afd7f8;
		border-color: green;
	}

	&:disabled {
		color: grey;
		cursor: not-allowed;
		border-color: grey;
		&:hover {
			background-color: #525252;
			color: white;
			border-color: #525252;
		}
	}
}

.Success {
	color: green;
	background-color: white;
	border-color: green;

	&:hover {
		color: white;
		background-color: green;
		border-color: green;
	}
}

.Danger {
	color: red;
	background-color: white;
	border-color: red;
	&:hover {
		color: white;
		background-color: red;
		border-color: red;
	}
}

.Info {
	background-color: white;
	border-color: rgb(175, 215, 248);
	&:hover {
		background-color: rgb(175, 215, 248);
		border-color: rgb(175, 215, 248);
	}
}
