.Button {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 1rem;
	padding: auto;
	color: inherit;
	text-align: center;
	outline: none;

	cursor: pointer;
	font: inherit;

	&:hover {
		background-color: white;
		color: #525252;
		border-color: #afd7f8;
	}

	&:disabled {
		color: grey;
		cursor: not-allowed;
		border-color: grey;
	}
}

.Success {
	color: green;
	background-color: white;
	border-color: green;

	&:hover {
		color: white;
		background-color: green;
		border-color: white;
	}
}

.Danger {
	color: red;
	background-color: white;
	border-color: red;
	&:hover {
		color: white;
		background-color: red;
		border-color: white;
	}
}
