.Button {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 1rem;
	padding: auto;
	color: inherit;
	text-align: center;
	outline: none;

	cursor: pointer;
	font: inherit;

	&:hover {
		background-color: white;
		color: #525252;
		border-color: #afd7f8;
	}

	&:disabled {
		color: grey;
		cursor: not-allowed;
		border-color: grey;
	}
}

// .Success {
// 	color: #5c9210;
// }

// .Danger {
// 	color: #944317;
// }
