.content {
	line-height: 2;
	width: 80%;
	margin: 3rem auto;
	padding: 3rem;
	color: black;
	background-color: rgb(255, 255, 255, 0.7);
	border-radius: 15px;

	h1 {
		padding-bottom: 2rem;
	}

	img {
		border-radius: 9999px;
	}

	p {
		line-height: 1.5;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	.Content_Height {
		min-height: 18rem;
	}

	.imgLeft {
		float: left;
	}

	.imgRight {
		float: right;
	}

	.alignright {
		text-align: right;
	}

	.alignleft {
		text-align: left;
	}
}
