@mixin media-min-width($width) {
	@media (min-width: $width) {
		@content;
	}
}

.Profil {
	// line-height: 1.5;
	color: black;
	display: flex;
	flex-direction: column;
	@include media-min-width(1200px) {
		flex-direction: row;
	}
	@include media-min-width(1200px) {
		padding: 2rem;
	}

	.Profil_Panels {
		min-width: 30%;
		margin: 3rem auto;
		padding: 2rem;
		background-color: rgb(255, 255, 255, 1);
		border-radius: 15px;
		width: 90%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
		text-align: center;
		@include media-min-width(1200px) {
			min-height: 42rem;
			width: auto;
			padding: 2rem;
		}
	}

	h2 {
		text-align: center;
		// padding-bottom: 1rem;
		@include media-min-width(1200px) {
			grid-column: span 2;
			padding-bottom: 2rem;
		}
	}

	p {
		line-height: 1.5;
		font-weight: 400;
		margin: 0.5rem;
	}

	a {
		color: #0275d8;
	}

	label {
		font-weight: 400;
		padding-top: 1rem;
		@include media-min-width(1200px) {
			padding: 0 8px;
			margin: 4px 8px;
			text-align: right;
		}
	}

	.Profil_Form {
		margin: 0 auto;
		display: grid;
		grid-template-columns: auto;
		@include media-min-width(1200px) {
			grid-template-columns: auto auto;
		}

		input,
		select {
			padding: 0 8px;
			margin: 4px 8px;
			color: black;
			border: none;
			text-align: center;
			align-self: center;
			@include media-min-width(1200px) {
				padding: 0 8px;
				margin: 4px 8px;
			}

			&:disabled {
				outline: none;
				background-color: inherit;
			}

			@include media-min-width(1200px) {
				text-align: left;
			}
		}
	}
}

.Profil_SavingSpinner {
	display: flex;
	justify-content: center;
	height: 6rem;
	button {
		padding: 0.5rem;
	}
	@include media-min-width(1200px) {
		grid-column: span 2;
	}
	div {
		align-self: center;
	}
}

.SubmitBtn {
	margin-top: 2rem;
	button {
		width: 10rem;
		padding: 0.5rem;
	}
}

.DeleteBtn {
	margin-top: 1rem;
	button {
		width: 10rem;
		padding: 0.5rem;
		color: red;
		border-color: red;
		&:hover {
			color: black;
			background-color: red;
			border-color: red;
		}
	}
}

.DeleteAlert {
	margin-top: 1rem;
	button {
		width: 10rem;
		padding: 0.5rem;
		color: black;
		border-color: red;
		background-color: red;

		&:hover {
			background-color: black;
			color: red;
			border-color: red;
		}
	}
}
