.CalendarHeader {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 1rem;
	align-items: center;
	justify-items: center;

	.Flex {
		display: flex;
		align-items: center;
	}

	.Date {
		justify-self: end;
		grid-column-start: 3;
	}

	.Control {
		justify-self: start;
		display: flex;
		align-items: center;
	}

	h1,
	h2 {
		--tw-text-opacity: 1;
		color: rgba(107, 114, 128, var(--tw-text-opacity));
		font-size: 1.25rem;
		line-height: 1.75rem;
		font-weight: 700;
	}

	button {
		padding: 8px 16px;
		margin: 0 0.25rem;
		display: flex;
		align-items: center;
	}

	span {
		margin: 0 8px;
	}
}

.ViewModeActive {
	background-color: #afd7f8;
}

.ViewModeClass {
	display: flex;
	height: 100%;
	padding: 0.5rem 1rem;
	margin: 0 0.25rem;
	align-items: center;
	border-radius: 1rem;
	border: 3px solid white;

	&:hover {
		cursor: pointer;
		border-color: #afd7f8;
	}
}
