.CreateEventButton {
	display: flex;
	align-items: center;
	border-width: 1px;
	padding: 0.5rem;
	border-radius: 9999px;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	background-color: white;
	margin-bottom: 2.25rem;

	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);

	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

	&:active {
		border: inherit;
	}

	&:hover {
		cursor: pointer;
		--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}

	span {
		padding-left: 0.75rem;
		padding-right: 1.75rem;
	}
}
