.EventModal_Main {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 91vh;
	display: flex;
	left: 0;
	top: 0;
	position: fixed;

	div::after {
		content: "";
		background: #afd7f8;
		opacity: 0.15;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}

	form {
		--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		--tw-bg-opacity: 1;
		background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
		border-radius: 0.5rem;

		.EventModal_Main_Header {
			border-radius: 0.5rem 0.5rem 0 0.5rem;
			display: flex;
			justify-content: space-between;
			padding: 0.5rem 1rem;
			--tw-bg-opacity: 0.6;
			background-color: rgb(175, 215, 248, var(--tw-bg-opacity));
			align-items: center;

			button {
				margin-left: 1rem;
			}
		}
	}

	.EventModal_MainBody {
		display: flex;
		gap: 2rem;
		justify-content: space-between;

		.EventModal_Input {
			display: grid;
			padding: 1rem;
			grid-template-columns: auto auto;
			align-items: flex-end;
			gap: 1rem 2rem;

			.EventModal_TwoInputs {
				display: flex;
				column-gap: 1rem;
				justify-content: space-between;
				// flex-direction: column;
			}

			input {
				font-weight: 600;
				font-size: 1.25rem;
				line-height: 1.75rem;
				padding: 0.75rem 1rem;
				// width: 100%;
				--tw-border-opacity: 1;
				border: 0 solid rgba(229, 231, 235, var(--tw-border-opacity));
				border-bottom-width: 2px;
			}

			span {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		.EventModal_Calendar {
			// flex: 1;
			margin: 1rem 0;
			border: 1px rgb(167, 167, 167) solid;
			height: fit-content;
			border-radius: 0.5rem 0 0 0.5rem;
			header {
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				--tw-bg-opacity: 0.6;
				background-color: rgb(175, 215, 248, var(--tw-bg-opacity));
			}
		}
	}

	.EventModal_Footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.25rem;
		padding: 0.75rem;
		border-radius: 0.5rem;
		--tw-border-opacity: 0.6;
		background-color: rgb(175, 215, 248, var(--tw-bg-opacity));
		border-top: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));

		button {
			padding: 0.5rem 1.5rem;
		}
	}
}

.ButtomDiv {
	display: flex;
	div {
		padding: 0.2rem;
		border: 3px white solid;
		border-radius: 999px;
		margin-left: 1rem;
		&:hover {
			cursor: pointer;
			background-color: #ff000080;
		}
	}
}

.Icon {
	display: flex;
	justify-self: center;
	align-self: center;
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.weekDayClass {
	display: flex;

	span {
		background-color: #afd7f8;
		color: black;
		justify-content: center;
		align-items: center;
		width: 2rem;
		min-height: 2rem;
		border-radius: 999px;
		margin: 0 0.5rem;
		cursor: pointer;
	}
}

.labelsClass {
	display: flex;

	span {
		color: white;
		justify-content: center;
		align-items: center;
		width: 2rem;
		min-height: 2rem;
		border-radius: 999px;
		margin: 0 0.5rem;
		cursor: pointer;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
