.SmallCal_labels {
	text-align: left;

	p {
		margin-top: 2.5rem;
	}

	label {
		display: block;
		margin-top: 0.75rem;
		align-items: center;

		input {
			border-color: transparent;
			background-color: currentColor;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}

		span {
			margin-left: 0.5rem;
			text-transform: capitalize;
			--tw-text-opacity: 1;
			color: rgba(55, 65, 81, var(--tw-text-opacity));
		}
	}
}
