.SmallCal_labels {
	text-align: left;

	p {
		margin-top: 2.5rem;
	}

	label {
		display: flex;
		margin-top: 0.75rem;
		align-items: flex-end;
		cursor: pointer;

		input {
			border-radius: 999px;
		}

		span {
			margin-left: 0.5rem;
			text-transform: capitalize;
		}
	}
}
