.CalendarMain_Body_Month {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	grid-template-rows: repeat(5, minmax(0, 1fr));
	grid-template-areas:
		"title calendar calendar calendar calendar calendar calendar calendar"
		"title calendar calendar calendar calendar calendar calendar calendar"
		"title calendar calendar calendar calendar calendar calendar calendar"
		"title calendar calendar calendar calendar calendar calendar calendar"
		"title calendar calendar calendar calendar calendar calendar calendar";

	flex: 1 1 0%;
	height: 83vh;
}

.Title {
	grid-area: title;
	gap: 1rem;

	div {
		cursor: pointer;
		margin: 0.25rem;
		padding: 0.5rem;
		font-weight: 500;
		border-radius: 1rem;
		border: 2px solid transparent;
		&:hover {
			opacity: 0.9;
		}
	}
}
