.MainDayDiv {
	--tw-border-opacity: 1;
	border: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
	display: flex;
	flex-direction: column;
	text-align: center;

	header {
		font-size: 0.875rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0.25rem;

		.ThisDay {
			background-color: #afd7f8;
		}

		p {
			font-weight: 500;
		}
	}

	.EventDiv {
		cursor: pointer;
		height: 100%;

		.Event {
			height: 1.5rem;
			display: flex;
			padding: 0.1rem 1rem;
			margin-bottom: 1px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			align-items: center;
			font-size: small;
			p {
				font-weight: 500;
			}

			&:hover {
				opacity: 0.9;
			}
		}

		.MoreEvent {
			display: flex;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 999px;
			height: 1.5rem;
			margin: 0 3px;
			font-weight: 400;
			font-size: small;
			padding: 0.1rem 0.5rem;
			align-items: center;
			justify-content: center;
			p {
				font-weight: 500;
			}
		}
	}
}
