.SmallCal {
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));

	.SmallCal_header {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	.SmallCal_calendar {
		display: grid;
		grid-template-columns: repeat(7, minmax(0, 1fr));
		grid-template-rows: repeat(6, minmax(0, 1fr));
		align-self: center;

		span {
			font-size: 0.875rem;
			line-height: 1.25rem;
			font-weight: 400;
		}
	}

	.MonthControlDiv {
		display: flex;
		div {
			display: flex;
			align-items: center;
		}
	}

	.SmallDates {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3px 1px;
		border: 2px transparent solid;
		&:hover {
			border: 2px #afd7f8 solid;
			border-radius: 999px;
			padding: 0;
		}

		div {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
		}
	}
}
