.WeekMain {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));

	flex: 1 1 0%;
	height: 100%;

	.Title {
		display: grid;
		grid-template-columns: 1fr;
		align-self: center;
		height: 80vh;
		--tw-border-opacity: 1;
		border: 1px solid transparent;
		div {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1rem 0 0 1rem;

			&:hover {
				opacity: 0.9;
			}
		}
	}
}
