@mixin media-min-width($width) {
	@media (min-width: $width) {
		@content;
	}
}

.DesktopOnly {
	display: none;

	@include media-min-width(800px) {
		display: block;
	}
}

.Toolbar {
	justify-content: space-between;
	margin: auto;
	height: 100%;
	display: flex;
	z-index: 90;
	nav {
		height: 100%;
	}
}
