@mixin media-min-width($width) {
	@media (min-width: $width) {
		@content;
	}
}

.DesktopOnly {
	display: none;

	@include media-min-width(800px) {
		display: block;
	}
}

.Toolbar {
	align-items: center;
	justify-content: space-between;
	margin: auto;
	height: 3.75rem;
	display: flex;
	flex-direction: row;
	.Logo {
		display: none;
	}

	z-index: 90;
	@include media-min-width(800px) {
		flex-direction: row-reverse;
		.Logo {
			display: block;
		}
	}

	nav {
		height: 100%;
	}
}
