.MessageMain {
	position: absolute;
	width: min-content;
	z-index: 101;
	top: -5.6rem;
	left: 50%;
	transform: translate(-50%);

	transition-property: all;
	transition-duration: 3s, 5s;
	&:hover {
		cursor: pointer;
	}

	.MessageDiv {
		min-height: 4rem;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.7);
		min-width: 30rem;
		border: 3px green solid;
		color: green;
		border-radius: 25px;
		transition-property: all;
		transition-duration: 3s, 5s;
	}

	.Error {
		color: red;
		border: 3px red solid;
	}

	.Info {
		color: blue;
		border: 3px blue solid;
	}
}

.Visiblity {
	top: 1rem;
}
