.MessageMain {
	width: 100vw;
	position: fixed;
	justify-content: center;
	display: flex;
	top: 2%;
	transition-property: all;
	transition-duration: 3s, 5s;
	z-index: 100;

	&:hover {
		cursor: pointer;
	}

	.MessageDiv {
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.7);
		min-width: 30rem;
		border: 3px green solid;
		color: green;
		border-radius: 25px;
	}

	.Error {
		color: red;
		border: 3px red solid;
	}
}

.test-enter {
	opacity: 0.01;
}

.test-enter.test-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}
