.MessageMain {
	width: 100vw;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: all;
	transition-duration: 3s, 5s;
	z-index: 100;
	top: -4.5rem;

	&:hover {
		cursor: pointer;
	}

	.MessageDiv {
		min-height: 4rem;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.7);
		min-width: 30rem;
		border: 3px green solid;
		color: green;
		border-radius: 25px;
	}

	.Error {
		color: red;
		border: 3px red solid;
	}
}

.Visiblity {
	top: 1rem;
}
