.MessageMain {
	display: flex;
	justify-content: center;

	.MessageDiv {
		position: absolute;
		display: flex;
		min-width: 30rem;
		top: 2%;
		margin: 0 5%;
		padding: 1rem;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.7);
		border: 3px green solid;
		color: green;
		border-radius: 25px;
		align-items: center;
		text-align: center;
		transition-property: opacity, left, top, height;
		transition-duration: 3s, 5s;
	}

	.Error {
		color: red;
		border: 3px red solid;
	}
}

.test-enter {
	opacity: 0.01;
}

.test-enter.test-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}
