@mixin media-min-width($width) {
	@media (min-width: $width) {
		@content;
	}
}

.NaviItems {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	height: 100%;
	align-items: center;

	a,
	p {
		color: white;

		&:hover,
		&:active,
		.active {
			color: #afd7f8;
			cursor: pointer;
		}
	}

	.Image {
		margin-top: 4px;
		border-radius: 15rem;
		border: 3px transparent solid;

		span {
			border-radius: 15rem;
		}
		&:hover {
			border-color: #afd7f8;
			cursor: pointer;
		}
	}

	.Name {
		display: flex;
		flex-direction: column;
		.signOut {
			color: #afd7f8;
			font-weight: 400;
			opacity: 0.5;
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}

	@include media-min-width(800px) {
		flex-flow: row;
		div {
			margin: 0 1rem;
		}
		a {
			font-weight: 400;
		}
	}

	.Active {
		color: #afd7f8;
		&:hover {
			color: white;
		}
	}
}
