@mixin media-min-width($width) {
	@media (min-width: $width) {
		@content;
	}
}

.CalendarMain {
	flex: 5;
	min-width: 30%;
	margin: 1rem;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	width: 90%;
	height: 90vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	padding: 1rem;
	@include media-min-width(1200px) {
		// min-height: 42rem;
		// width: auto;
	}

	.CalendarMain_Body {
		height: 100%;
		// display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0%;
	}
}
