.EventModal_Main {
	position: absolute;
	z-index: 100;
	height: min-content;
	left: 50%;
	top: 2rem;
	overflow: scroll;
	transform: translate(-50%);

	.EventModal_Main_Div {
		margin-bottom: 2rem;
		min-width: 55rem;
	}

	form {
		--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		--tw-bg-opacity: 1;
		background-color: rgb(255, 255, 255);
		border-radius: 0 0 0.5rem 0.5rem;
	}

	.EventModal_Main_Header {
		border-radius: 0.5rem 0.5rem 0 0;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 1rem;
		--tw-bg-opacity: 0.6;
		background-color: rgb(175, 215, 248);
		align-items: center;

		button {
			margin-left: 1rem;
		}
	}

	.YourPosition {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	p {
		justify-self: start;
	}

	select {
		padding: 0.2rem 0.5rem;
		border-radius: 1rem;
		border: #afd7f8 2px solid;
		text-align: center;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:focus-visible {
			outline: none;
		}
	}

	.EventModal_MainBody {
		display: grid;

		grid-template-columns: 1fr auto;
		gap: 0 2rem;
		justify-content: space-between;

		.EventModal_Input,
		.EventModal_Input2 {
			display: grid;
			padding: 0.75rem;
			grid-template-columns: 2rem auto;
			align-items: center;
			gap: 1rem 1rem;

			input {
				font-weight: 600;
				font-size: 1rem;
				--tw-border-opacity: 1;
				border: 0 solid rgba(229, 231, 235, var(--tw-border-opacity));
				border-bottom-width: 2px;
				outline: none;
			}

			.EventModal_TwoInputs {
				display: flex;
				column-gap: 1rem;
				align-items: center;
				// justify-content: space-between;
				// flex-direction: column;
			}

			span {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		.EventModal_Input2 {
			grid-column: span 2;

			.BaseTeam {
				display: flex;
				justify-content: space-between;
				gap: 0.5rem;

				.BaseTeam_PosDiv {
					position: relative;

					flex: 1;
					border: 2px solid #afd7f8;
					border-radius: 1rem;
					padding: 0.5rem;

					.BaseTeam_Pos {
						display: grid;
						grid-template-columns: 1fr 3fr 6rem 2rem;
						gap: 0.5rem;
						align-items: center;
						width: auto;
						height: 3rem;
						text-align: start;
						// padding: 0 0.3rem;
						border-radius: 1rem;

						.BaseTeam_Pos__Direct {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding: 0 1rem;
							margin: 0.2rem 0;
							font-weight: 400;
							font-size: large;
							span {
								border-radius: 99rem;
							}
						}

						.BaseTeam_Pos_Attribute {
							display: flex;
							justify-content: space-between;
							align-items: center;
							> div {
								display: flex;
								flex-direction: column;
								align-items: center;
							}
							label {
								font-weight: 400;
								align-items: center;
							}
						}

						select {
							padding: 0.25rem;

							font-weight: 500;
						}

						svg {
							border-radius: 1rem;
							color: red;
							cursor: pointer;
							&:hover {
								color: black;
								background-color: red;
							}
						}
						input {
							padding: 0 1rem;
							margin: 0.2rem 0;
							font-weight: 400;
							font-size: large;
							border-radius: 1rem;
							outline: none;
						}
						&:hover {
							background-color: #afd7f8;
						}
					}
				}

				.BaseTeam_Choice {
					display: flex;
					flex-direction: column;
					border: 2px solid #afd7f8;
					border-radius: 1rem;
					padding: 0.5rem;
					font-weight: 400;
					button {
						display: flex;
						gap: 0.5rem;
						justify-content: space-between;
						align-items: center;
						span {
							border-radius: 999px;
						}
						div {
							font-weight: 400;
						}
					}
					div {
						font-weight: 400;
					}
				}
			}
		}

		.EventModal_CalendarDiv {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		.EventModal_Calendar {
			// flex: 1;
			margin: 0.75rem;
			border: 2px #afd7f8 solid;
			height: fit-content;
			border-radius: 1rem;

			header {
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				--tw-bg-opacity: 0.6;
				background-color: rgb(175, 215, 248, var(--tw-bg-opacity));
			}
			.EventModal_Calendar__ControlBtns {
				display: flex;
				justify-content: space-between;
				font-weight: 400;
				border-radius: 1rem;
				border-top: #afd7f8 2px solid;
				margin-top: 1rem;
			}
		}

		.CreatorName {
			font-weight: 400;
		}
	}

	.EventModal_Footer {
		display: flex;
		justify-content: flex-end;
		padding: 0.75rem;
		border-radius: 0.5rem;
		--tw-border-opacity: 0.6;
		background-color: rgb(175, 215, 248, var(--tw-bg-opacity));
		border-top: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
		gap: 1rem;
		button {
			padding: 0.5rem 1.5rem;
		}
	}
}

.IconDiv {
	display: flex;
}

.Icon {
	display: flex;
	justify-self: center;
	align-self: center;
	// padding: 0.2rem;
	// margin: 0 1rem;
	border-radius: 999px;
	border: 3px transparent solid;

	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.Buttom2 {
	border-color: white;
	margin-left: 1rem;
	&:hover {
		cursor: pointer;
		background-color: red;
	}
}

.Buttom1 {
	border-color: white;
	margin-left: 1rem;
	&:hover {
		cursor: pointer;
		background-color: white;
	}
}

.weekDayClass {
	display: flex;
	align-items: center;

	span,
	div {
		background-color: #afd7f8;
		border-radius: 999px;
		margin: 0 0.5rem;
		border: #afd7f8 solid 3px;
		cursor: pointer;
		&:hover {
			background-color: transparent;
		}
		min-height: 2rem;
	}

	div {
		padding: 0 0.5rem;
	}

	span {
		width: 2rem;
	}
}

.labelsClass {
	display: flex;

	span,
	div {
		color: white;
		justify-content: center;
		align-items: center;
		width: 2rem;
		min-height: 2rem;
		border-radius: 999px;
		margin: 0 0.5rem;
		cursor: pointer;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

.datesCrew_div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// margin: 0.5rem;
	flex-direction: column;
	align-self: start;

	.datesCrew {
		display: grid;
		grid-template-columns: 10rem 1fr;
		gap: 1rem;
		border: 2px solid #afd7f8;
		border-radius: 1rem;
		justify-content: space-between;
		padding: 0.5rem;
		margin-bottom: 1rem;
		// align-items: center;

		.DateAndLoc {
			display: flex;
			flex-direction: column;
			input {
				line-height: normal;
				font-size: medium;

				margin: 0 auto;
				padding: 0;
				text-align: center;
				max-width: 90%;
			}
		}

		.CrewPosName {
			display: grid;
			grid-template-columns: 7rem 9rem auto min-content;
			justify-items: start;
			gap: 0 0.5rem;
			align-items: center;
			padding: 0.5rem 0;
			border-bottom: 2px solid rgba(229, 231, 235, 100);
			svg {
				border-radius: 1rem;
				color: red;
				cursor: pointer;
				&:hover {
					color: black;
					background-color: red;
				}
			}

			.CrewPosName_Attribute {
				grid-column: 1 / -2;
				width: 100%;
				padding-left: 2rem;
				display: flex;
				font-weight: 400;
				justify-content: space-between;

				> div {
					display: flex;
					flex-direction: column;
					label {
						font-weight: 400;
					}
				}
			}

			.Span2 {
				grid-column: span 2;
			}
		}
	}
}

.SaveBtn {
	display: flex;
	justify-content: flex-end;
	margin: 0 0.75rem 0.75rem 0;
	border-radius: 999px;
	button {
		padding: 0.5rem 1.5rem;
		background-color: #afd7f8;
	}
}

.Text400 {
	font-weight: 400;
}

.Loding_Spinner {
	padding: 2rem;
	border: 0 transparent solid;
	border-radius: 0 0 1rem 1rem;
	background-color: rgba(255, 255, 255, 0.3);
}
